.paper{
    height: 600px;
    width: 600px;
    border: 2px solid green;
    display: grid;
    padding:0;
    
}

.pixel{
    border: 1px solid #919191;
    width: 2px;
    height: 2px;
    padding: 0px;
    margin:0px;
}

