.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.paper{
    height: 600px;
    width: 600px;
    border: 2px solid green;
    display: grid;
    padding:0;
    align-items: center;
    justify-content: center;
    
}

.pixel{
    border: 1px solid #919191;
    width: 2px;
    height: 2px;
    padding: 0px;
    margin:0px;
}
.setting-option{
    border: 1px solid black;
    background-color: #ebe8e8;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 40px;
    padding-right: 40px;
}

